/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

.Body{
    background-color:#FAD7A0;
    padding: 90px 20px 0;
}
@import 'header';
@import 'bebidas';

.Nosotros{
    background-color: #212F3D;
    color:#EB984E;
    width: 100%;
}

@import 'footer';





