/* Error: expected ")".
 *    ,
 * 17 |     bg-color-naranjaclaro: nth($colores,7)
 *    |                          ^
 *    '
 *   SCSS\base\_mapas.scss 17:26          @import
 *   SCSS\componentes\_nosotros.scss 2:9  @import
 *   SCSS\style.scss 7:9                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ")".\a    \2577 \a 17 \2502      bg-color-naranjaclaro: nth($colores,7)\d\a    \2502                           ^\a    \2575 \a   SCSS\\base\\_mapas.scss 17:26          @import\a   SCSS\\componentes\\_nosotros.scss 2:9  @import\a   SCSS\\style.scss 7:9                  root stylesheet';
}
