@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(../imagenes/fondomadera3.webp);
    background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
header {
  background-color: #212F3D;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
header nav {
  font-family: "Yellowtail", cursive;
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}
header nav .Item-nav {
  color: #efefef;
  text-decoration: none;
}
header nav .nav-link {
  color: #efefef;
  text-decoration: none;
}
header nav .Logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
}
header nav .nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}
header nav .nav-menu .Item-li {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}
header nav .nav-menu .nav-links {
  padding: 8px 12px;
  border-radius: 3px;
}
header nav .nav-menu .nav-links:hover {
  background-color: black;
  color: #FAD7A0;
  transition: all 300ms ease;
}
header .nav-toggle {
  text-decoration: none;
  color: #efefef;
  background-color: #212F3D;
  border: none;
  font-size: 30px;
  padding: 0 10px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    height: 60px;
  }
  header .Logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
  }
  header .nav-menu {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    background-color: #0a1a2a;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 1s;
  }
  header .nav-menu .Item-li {
    line-height: 70px;
  }
  header .nav-menu .nav-links:hover,
header .nav-menu .nav-links_active {
    background: none;
    color: #FAD7A0;
  }
  header .nav-toggle {
    height: 50px;
    display: block;
  }
  header .nav-menu_visible {
    left: 0;
  }
}


.container {
    width: 100%;
    display: flex;
    max-width: 1100px;
}
.card {
    margin: 5px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.cards img{
    width: 100%;
    height: 210px;
}
.card-body{
    padding: 10px;
    text-align: center;
}
.card h3{
    font-family: 'Yellowtail', cursive;
    font-size: 24px;
    font-weight: 300px;
    margin-bottom: 15px;
}
.card-text{
    font-family: 'Bebas Neue', cursive;
    color: black;
    line-height: 1.5;
}

Footer {
    width: 100%;
    background-color: #212F3D;
    margin-top: 20px;
  }
  Footer .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
  }
  Footer .grupo1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  Footer .grupo1 .box figure img {
    width: 250px;
  }
  Footer .grupo1 .box h2 {
    color: aliceblue;
    margin-bottom: 25px;
    font-size: 20px;
  }
  Footer .grupo1 .box p {
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
  }
  Footer .grupo1 .box .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: black;
    text-align: center;
    border-radius: 3px;
    transition: all 300ms ease;
  }
  Footer .grupo1 .box .red-social a:hover {
    color: #FAD7A0;
  }
  Footer .grupo2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
  }
  Footer .grupo2 small {
    font-size: 15px;
  }

 @media  screen and (max-width: 768px){
     .container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }
    .cards {
        width: 60%;
        margin: 10px;
    }
    .card img{
        width: 70%;
        height: 150px;
        margin-left: 25px;
    } 

    Footer .grupo1 {
        width: 90%;
        margin-top: 20px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;
        padding: 35px 0px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
      }
      Footer .grupo1 .box figure img {
        display: none;
      }
      Footer .grupo1 .box p {
        color: #fff;
        margin-bottom: 10px;
        font-size: 15px;
      }
  } 

