* {
    margin: 0;
    padding: 0;
}
.Body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imagenes/fondomadera3.webp);
    background-repeat: no-repeat;
}
.cards figure img{
    width: 150px;
}