@import '../base/listas';



$colores-standar: (
    bg-color-naranja:#EB984E,
    bg-color-grisnegro:#212F3D,
    color: aliceblue
);

$colores-medium: (
    bg-color-negroclaro: nth($colores,1),
    bg-color-naranjaclaro: nth($colores,7),
    color: nth($colores,6),
)