@import '../base/mapas';
@import '../base/listas';
    .Bebidas{
        background-color: map-get($colores-standar,bg-color-naranja);
    font-family:'Rock Salt', cursive;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    column-gap: 10px;
    row-gap: 10px;
        div{
            
    width: 50%;
    background-color: map-get($colores-standar,bg-color-grisnegro);
    border: 1px;
    text-decoration: none;
    color: map-get($colores-standar, color);


        }
    }
