
    .Bebidas{
        background-color:#eb984e;
    font-family:'Rock Salt', cursive;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    column-gap: 10px;
    row-gap: 10px;
        div{
            
    width: 50%;
    background-color:#212f3d;
    border: 1px;
    text-decoration: none;
    color:aliceblue;


        }
    }
