
    .Bebidas{
        background-color:nth($colores,2);
    font-family:'Rock Salt', cursive;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    column-gap: 10px;
    row-gap: 10px;
        div{
            
    width: 50%;
    background-color:nth($colores,6);
    border: 1px;
    text-decoration: none;
    color:nth($colores,8);


        }
    }
