@import '../base/listas';
header{
    background-color:nth($colores,6);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    nav{
        font-family: 'Yellowtail', cursive;
        display: flex;
        justify-content: space-between;
        max-width: 992px;
        margin: 0 auto;
        .Item-nav{
            color:nth($colores,5);
            text-decoration: none;
        }
        .nav-link{
            color:nth($colores,5);
            text-decoration: none;
        }
        .Logo{
            font-size: 30px;
            font-weight: bold;
            padding: 0 40px;
            line-height: 80px;
        }

        .nav-toggle{
            color: nth($colores,5);
            background-color: none;
            border: none;
        }
        
        ul{
            display: flex;
    margin-right: 40px;
    list-style: none;
    .Item-li{
        font-size: 18px;
        margin: 0 10px;
        line-height: 80px;
        text-transform: uppercase;
        width: max-content;
        }
        .nav-links{
            padding: 8px 12px;
            border-radius: 3px;
        }
        .nav-links:hover{
            background-color:nth($colores,3);
            color: nth($colores,7);
            transition: all 300ms ease;
        }
     }
       
    }
}
