@import '../base/listas';

.robert{
    width: 600px;
    margin-left: 24%;
    border-radius: 5px;
    border-bottom: 6px solid nth($colores,6);
    background-color: nth($colores,6);
    line-height: 1.5;
    font-family: 'Bebas Neue', cursive;
    display: flex;

}

.robert img{
    width: 270px;
    margin: 5px;
    position: relative;
    top: 25px;
    left: 40px;
    border-radius: 5px;
}

.robert p{
    justify-items: center;
    margin: 25px;
    color: nth($colores,5);
    font-size: 29px;
}